@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
/*     font-family: 'Silkscreen', cursive; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font: "Silkscreen", cursive, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --correctColor: transparent;
  --color-1: green;
  --color-2: green;
  --color-3: green;
  --color-4: green;
  --color-5: green;
  --color-6: green;
  --color-7: green;
  --color-8: green;
  --color-9: green;
}

body {
  overflow-y: hidden;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  padding: 3em 0;
  background-color: aqua;
}

.color-guess {
  font-family: var(--font);
  font-size: 6vh;
  text-align: center;
  font-weight: normal;
}

.controls {
  background-color: #fff;
}

.controls-container {
  padding: 1em;
  display: flex;
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font);
  cursor: pointer;
  background-color: transparent;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.board {
  padding: 0.5em 1em;
  color: red;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-family: var(--font);
  font-weight: 700;
  background-color: antiquewhite;
}

.colors {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 1em;
  justify-content: center;
}

.card-color {
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.1);
  border: 4px solid transparent;
}

.card-color:hover {
  border-color: aqua;
}

.card-color:first-child {
  background-color: var(--color-1);
}
.card-color:nth-child(2) {
  background-color: var(--color-2);
}
.card-color:nth-child(3) {
  background-color: var(--color-3);
}
.card-color:nth-child(4) {
  background-color: var(--color-4);
}
.card-color:nth-child(5) {
  background-color: var(--color-5);
}
.card-color:nth-child(6) {
  background-color: var(--color-6);
}

.card-color:nth-child(7) {
  background-color: var(--color-7);
}
.card-color:nth-child(8) {
  background-color: var(--color-8);
}
.card-color:nth-child(9) {
  background-color: var(--color-9);
}
